 

# Error Pagetu
ErrorDocument 400  http://www.hepgezelim.com/error.php
ErrorDocument 401  http://www.hepgezelim.com/error.php
ErrorDocument 402  http://www.hepgezelim.com/error.php
ErrorDocument 403  http://www.hepgezelim.com/error.php
ErrorDocument 404  http://www.hepgezelim.com/error.php
ErrorDocument 405  http://www.hepgezelim.com/error.php
ErrorDocument 406  http://www.hepgezelim.com/error.php
ErrorDocument 407  http://www.hepgezelim.com/error.php
ErrorDocument 408  http://www.hepgezelim.com/error.php
ErrorDocument 409  http://www.hepgezelim.com/error.php
ErrorDocument 410  http://www.hepgezelim.com/error.php
ErrorDocument 411  http://www.hepgezelim.com/error.php
ErrorDocument 412  http://www.hepgezelim.com/error.php
ErrorDocument 413  http://www.hepgezelim.com/error.php
ErrorDocument 414  http://www.hepgezelim.com/error.php
ErrorDocument 500  http://www.hepgezelim.com/error.php
ErrorDocument 501  http://www.hepgezelim.com/error.php
ErrorDocument 502  http://www.hepgezelim.com/error.php
ErrorDocument 503  http://www.hepgezelim.com/error.php
ErrorDocument 504  http://www.hepgezelim.com/error.php
ErrorDocument 505  http://www.hepgezelim.com/error.php
